{{!< default}}

<nav class="recent-posts">
    <div class="big-post-wrapper">
    {{#foreach posts}}
    {{#if @first}}
        <div class="big-post-img" style="background-image: url('{{ img_url feature_image }}')">
            <div class="big-post-text">
                <h1 class="post-title">
                    <a href="{{url}}">{{title}}</a>
                </h1>
                <p class="post-date">
                    <i class="fa fa-calendar-o"></i> <time datetime="{{published_at}}">{{date format="D/M/YY" locale="pl"}}</time>
                    <i class="fa fa-clock-o"></i> <span>{{reading_time seconds="< 1 min" minute="1 min" minutes="% min"}}</span>
                    <i class="fa fa-tags"></i> {{tags}}
                </p>

                <div class="excerpt">{{ excerpt }}</div>

            </div>
        </div>
    {{/if}}
    {{/foreach}}
    </div>

    <ul class="small-posts">
        {{!-- no whitespace between `li` elements is necessary for CSS display: inline-block, width: 1/3 --}}
        {{#foreach posts from="2" to="4"}}<li class="small-post">
            <div class="small-post-img" style="background-image: url('{{ img_url feature_image }}')">
                <div class="small-post-text">
                    <h2 class="post-title">
                        <a href="{{url}}">{{title}}</a>
                    </h2>
                    <p class="post-date">
                        <i class="fa fa-calendar-o"></i> <time datetime="{{published_at}}">{{date format="LL" locale="pl"}}</time>
                        <i class="fa fa-clock-o"></i> <span>{{reading_time seconds="< 1 min" minute="1 min" minutes="% min"}}</span>
                        <i class="fa fa-tags"></i> {{tags}}
                    </p>
                </div>
            </div>
        </li>{{/foreach}}
    </ul>
</nav>

{{> post-list from="5" }}
